# Credenciais do Postgres usado pelo docker-compose.yml
POSTGRES_DB=jptecidos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque-esta-senha

PORT=3001

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce_jptecidos?schema=public"

JWT_SECRET="change-this-super-secret"
JWT_EXPIRES_IN="1d"
BCRYPT_ROUNDS=10
ADMIN_EMAIL="admin@jptecidos.com"
ADMIN_PASSWORD="Admin@123456"
ADMIN_NAME="Administrador"

KAFKA_ENABLED=false
KAFKA_BROKERS="localhost:9092"
KAFKA_CLIENT_ID="ecommerce-api"
KAFKA_GROUP_ID="ecommerce-api-consumer"
KAFKA_PAYMENT_GROUP_ID="ecommerce-payment-producer"
KAFKA_SASL_ENABLED=false
KAFKA_SASL_MECHANISM="plain"
KAFKA_USERNAME=""
KAFKA_PASSWORD=""
KAFKA_SSL_ENABLED=false

PAYMENT_AUTO_APPROVE_WITHOUT_GATEWAY=true

STORAGE_DRIVER="local"
AWS_REGION=""
AWS_S3_BUCKET=""
AWS_S3_PUBLIC_BASE_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_WEBHOOK_SECRET=""
